{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<p>Magazyn  jest  ogniwem  systemu  logistycznego,  w  którym  towary  są  tymczasowo przechowywane  i  kierowane  do  kolejnych  ogniw  sieci  dostaw.  Magazyny  mogą  być zarówno punktami  dostaw  i  odbioru,  jak  i  punktami  koncentracji  lub  rozdziału strumieni towarów w systemie logistycznym. W magazynie zachodzą procesy składowania i   przemieszczania. Dominacja  określonych  procesów  zależy  od  funkcji  magazynu. Wymagane   funkcje   w   zasadniczy  sposób  wpływają  na  lokalizację,  technologię  i organizację prac stosowaną w magazynie.</p>
	</div>
{% endblock %}